*/.gitignore
**/app/.gitignore

**/.gradle/
**/gradle/
**/.idea/

**/build.gradle
**/gradle.properties
**/gradlew
**/gradlew.bat
**/local.properties
**/settings.gradle

**/build/
**/libs/
**/proguard-rules.pro

**/androidTest/
**/test/

**/res/d*/
**/res/m*/
**/res/values-night/
**/res/xml/